@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(180deg, #040918 0%, #091540 100%);
  min-height: 100vh;
  margin-top: 20px;
  font-family: "Noto Sans", sans-serif;
}
h1,
p {
  text-align: center;
  margin-top: 10px;
  color: hsl(0, 0%, 93%);
  letter-spacing: 2px;
}

p:after {
  content: "";
  height: 2px;
  width: 120px;
  display: block;
  background: linear-gradient(90deg, transparent, #ff8c00, transparent);
  margin: 15px auto 0;
  box-shadow: 0 0 10px #ff8c00;
}
.filter-buttons {
  margin: 20px;
  padding: 20px;
  background-color: hsl(225, 23%, 24%);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}
.filter-btn {
  padding: 10px 20px;
  background: transparent;
  border: 2px solid orange;
  color: white;
  font-size: 1rem;
  border-radius: 20px;
  cursor: pointer;
  z-index: 1;
  position: relative;
  overflow: hidden;
  transition: color 0.3s ease;
}
.filter-btn.active {
  background-color: orange;
  color: black;
}
.filter-btn:hover {
  color: black;
}
.filter-btn:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background: orange;
  transition: 0.3s;
}
.filter-btn:hover::before {
  width: 100%;
}
.gallery {
  padding: 20px 10px;
  border-top: 1px solid hsl(226, 11%, 37%);
  border-radius: 10px;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
}

.gallery > div {
  flex-shrink: 1;
  flex-basis: calc(25% - 10px);
  margin: 5px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.gallery div {
  border: 2px solid hsl(0, 0%, 93%);
  border-radius: 20px;
  overflow: hidden;
  height: 250px;
  animation: slideIn 0.7s ease;
}
@keyframes slideIn {
  0% {
    transform: translateY(15px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.gallery div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease;
}
.gallery div img:hover {
  transform: scale(1.2);
}

@media (max-width: 1300px) {
  .gallery > div {
    flex-basis: calc(33.33% - 10px);
  }
}
@media (max-width: 1000px) {
  .gallery > div {
    flex-basis: calc(50% - 10px);
  }
}
@media (max-width: 600px) {
  .gallery > div {
    flex-basis: calc(100% - 10px);
  }
  h1 {
    font-size: 1.7rem;
  }
  .gallery {
    margin: 20px 0 0 0;
  }
}

@media (max-width: 350px) {
  h1 {
    font-size: 1.5rem;
  }
}
